<div style="width:340px; margin:0 auto;">
  <h1>Students - Shopify URL</h1>
  <%= form_tag login_path, :class => 'form-search' do %>
    <%= text_field_tag 'url', nil, :placeholder => 'Shop URL', :class => 'btn-large' %>
    <%= submit_tag 'Install', :class => 'btn btn-primary btn-large' %>
  <% end %>
</div>

<p align="center" style="margin-top:30px">
  <%= image_tag 'shopify.png' %>
</p>


<br/>

<div style="width:340px; margin:0 auto;">
  <h1>Professors - Linkedin</h1>
  <%= form_tag login_path, :class => 'form-search' do %>
    <h2><%= link_to "Login With Linkedin", "/auth/linkedin/" %></h2>
  <% end %>
</div>


<p align="center" class="muted">
  <%= link_to "Admin Sign Up", users_new_path %> | <%= link_to "Admin Log in", admin_login_path %>
</p>

<p align="center" class="muted">
  Don't have a shop? <a href="https://app.shopify.com/services/partners/api_clients/test_shops">Create a Test Shop</a>
</p>
