<%= form_for @league do |f| %>
<% if @league.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@league.errors.count, "error") %> prohibited this league from being saved:</h2>

      <ul>
      <% @league.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :school %>
  <%= f.text_field :school %>
  <%= f.label :start_date_and_time %>
  <%= f.datetime_local_field :start_date, {value: (Time.now.midnight + 1.day).strftime("%FT%T")} %>
  <%= f.label :end_date_and_time %>
  <%= f.datetime_local_field :end_date, {value: (Time.now.midnight + 1.month + 1.day).strftime("%FT%T")} %>
  <%= f.label "PIN Code (4 Digits)" %>
  <div class = "large-7 large-centered columns">
    <div class = "row collapse">
        <div class = "large-3 columns pinselect">
          <%= text_field_tag 'pin1', nil, {pattern: "[0-9]", maxlength: 1, size: 1} %>
        </div>
        <div class = "large-3 columns pinselect">
          <%= text_field_tag 'pin2', nil, {pattern: "[0-9]", maxlength: 1, size: 1} %>
        </div>
        <div class = "large-3 columns pinselect">
          <%= text_field_tag 'pin3', nil, {pattern: "[0-9]", maxlength: 1, size: 1} %>
        </div>
        <div class = "large-3 columns pinselect">
          <%= text_field_tag 'pin4', nil, {pattern: "[0-9]", maxlength: 1, size: 1} %>
        </div>
      </div>
    </div>
  <%= f.submit "Submit", {class: "button"} %>
<% end %>