<div class="large-12 columns">
<h1> Join a League </h1>

<h4>Welcome to Venture Challenge!<h4>
	<p> Please select your league. If you do not know your PIN, contact your Professor</p>

<% if @leagues %>
	<table>
		<tr>
			<td>Name</td>
			<td>School</td>
			<td>Start</td>
			<td>End</td>
		</tr>
	<% @leagues.each do |league| %>
		<tr>
			<td><%= league.name %></td>
			<td><%= league.school %></td>
			<td>
				<%= league.start_date.strftime("%B %d") %><br/>
				<%= league.start_date.strftime("%I:%M %p") %>
			</td>
			<td>
				<%= league.end_date.strftime("%B %d") %><br/>
				<%= league.end_date.strftime("%I:%M %p") %>
			</td>
			<td class = "pin">
				<%= form_tag '/assign_league', :class => '' do %>
				<%= number_field_tag :pin, nil, :placeholder => 'Enter PIN', :class => '' %>
				<%= hidden_field_tag :league_id, league.id %>
				<%= submit_tag 'Register', :class => 'btn btn-primary btn-large' %></td>
  <% end %>
		</tr>
	<% end  %>
	</table>
<% end %>
</div>
