<h1> Your Leagues </h1>

<% if @leagues %>
	<table>
		<tr>
			<td>Name</td>
			<td>School</td>
			<td>Start</td>
			<td>End</td>
			<td>Status</td>
		</tr>
	<% @leagues.each do |league| %>
		<tr>
			<td><%= link_to league.name, "/leaderboards?league=#{league.id}" %></td>
			<td><%= league.school %></td>
			<td><%= time_tag league.start_date %></td>
			<td><%= time_tag league.end_date %></td>
			<td><% if Time.now < league.end_date %>
						<%= distance_of_time_in_words(Time.now, league.end_date) %> Remaining
					<% else %>
						Complete
					<% end  %>
			<td><%= link_to "Edit", edit_league_path(league.id) %></td>
		</tr>
	<% end  %>
		<td></td>
	</table>
<% end  %>


