<h1> Admin panel </h1>
<% if @leagues %>
	<table>
		<tr>
			<td>Name</td>
			<td>School</td>
			<td>Start</td>
			<td>End</td>
		</tr>
	<% @leagues.each do |league| %>
		<tr>
			<td><%= link_to league.name, league_path(league.id) %></td>
			<td><%= league.school %></td>
			<td><%= league.start_date %></td>
			<td><%= league.end_date %></td>
		</tr>
	<% end  %>
	</table>
<% end  %>
<%= link_to "Add League", new_league_path %>
