<h1> Current Standings </h1>
<table>
  <tr>
    <th>Store</th>
    <th>Total Orders</th>
    <th>Number of Orders</th>
    <th>Points</th>
    <th>Badges</th>
  </tr>
	<% @stores.each do |store| %>
	<tr>
    <td><%= User.find(store.user_id).name %></td>
    <td><%= number_to_currency(Order.where("store_id = #{store.id}").sum(:subtotal_price)) %></td>
    <td><%= Order.where("store_id = #{store.id}").count %></td>
    <td><%= Point.where("store_id = #{store.id}").sum(:value) %></td>
    <td><%= store.badges.pluck(:name) %></td>
	</tr>
	<% end %>


</table>

<canvas id="myChart" width="800" height="400"></canvas>