<div class ="row" id="leaderboard">
    <div  class = "large-12 large-centered columns">
        <div class = "leaderboard">

<div class = "row">
    <div class = "large-6 columns">
        <div id="leagueinfo">
                <% if session[:linkedin] && @admin_leagues.count > 1 %>
                <!-- admin-view league select -->
                <a href="#" data-dropdown="drop1"><h2><%= @league.name.upcase %> <i class="fa fa-caret-down"></i></h2></a>
                    <ul id="drop1" class="f-dropdown" data-dropdown-content>
                      <% @admin_leagues.each do |league| %>  
                      <li><%= link_to league.name, "/leaderboards?league=#{league.id}" %></li>
                    <% end %>
                    </ul>
                <% else  %>
                <h2><%= @league.name.upcase %></h2>
                <% end %>
            <h6><%= @countdown %> remaining.</h6>
            <h6>Start: <%= @league.start_date.to_s(:long) %></h6>
            <h6>End: <%= @league.end_date.to_s(:long) %></h6>
            <%= link_to "Leave league", quit_league_path, class: "button", id: "infobutton" %>
            <div id="clock"><i class="fa fa-clock-o fa-5x"></i></div>
        </div>
    </div>
    <div class = "large-3 columns">
        <div class="points-yesterday">
            <h1><%= number_with_delimiter(@pointsyesterday) %></h1>
            <h5><%= @yesterdaypointswinner %></h5>
            <p>Most Points Yesterday</p>
            <i class="fa fa-star fa-2x"></i>

        </div>
    </div>
    <div class="large-3 columns">
        <div class="points-week">
            <h1><%= number_with_delimiter(@pointsthisweek) %></h1>
            <h5><%= @thisweekpointswinner %></h5>
            <p>7-Day Points Winner</p>
            <i class="fa fa-star fa-2x"></i>

        </div>         
    </div>
</div>
</div>


    <div class="large-12 columns">
        <h3 id="table_title"> CURRENT STANDINGS </h3>
            <table id="standings">
              <tr>
                <th>Color</th>
                <th>Store</th>
                <th>Total Revenue</th>
                <th>Orders</th>
                <th>Customers</th>
                <th>Points</th>
                <th>Badges</th>
              </tr>
                <% @stores.each do |store| %>
                    <tr>
                    <td class = "store<%= store.id %>"></td>
                    <td><%= User.find(store.user_id).name %></td>
                    <td><%= number_to_currency(Order.where("store_id = #{store.id}").sum(:subtotal_price)) %></td>
                    <td><%= Order.where("store_id = #{store.id}").count %></td>
                    <td><%= Customer.where("store_id = #{store.id}").count %></td>
                    <td><%= Point.where("store_id = #{store.id}").sum(:value) %></td>
                    <td><% store.badges.reverse[0..4].each do |badge| %>
                            <% if badge.badge_asset %>
                                <%= image_tag badge.badge_asset.url, size: "30x30" %>
                            <% end %>
                        <% end %>
                    </td>
                    </tr>
                <% end %>
            </table>
</div>
<div class="large-6 columns">
            <% if @orders.count > 0  %>
            <div class = "linechart">
                <h4 class="linetitle"> POINTS OVER TIME</h4>
                <canvas id="LineChart" width="590" height="400"></canvas>
            </div>
</div>
<div class="large-6 columns">
            <div class = "barchart">
                <h4 class="bartitle"> TOTAL POINTS PER STORE </h4>
                <canvas id="BarChart" width="590" height="400"></canvas>
            </div>
        <% else %>
            <br/>
            <br/>
            <br/>
            <h4>Not enough data for Charting</h4>
        <% end %>

        </div>
    </div>
</div>


