<div class="row">
  <div class="large-6 columns">
    <div class="panel">
      <ul class="small-block-grid-3" style="text-align:center">
      <h3><strong>Trophy Case</strong></h3>

    </br>
    </br>
        <% @store.badges.each do |b| %>
        <li><%= image_tag(Asset.where("badge_id = #{b.id}").pluck(:url).join) %><h6><%=b.name %></br><%=b.points %> Points</h6></li>
        <% end %>

      </ul>
    </div>  
  </div>
<div class="large-4 columns">
  <div class="panel">
    <h3><strong>Current Points</strong></h3>
    <strong>Sales Points:</strong> <%= Point.where("store_id = #{@store.id} AND kind_id = 2").sum(:value) %></br>
    <strong>Customer Points:</strong> <%= Point.where("store_id = #{@store.id} AND kind_id = 1").sum(:value) %></br>
  </div>

  <div class="panel">
    <h3><strong>Current Points</strong></h3>
    <strong>Total Sales: $</strong> <%= Order.where("store_id = #{@store.id}").pluck(:subtotal_price).sum(:value) %></br>
    <strong>Customer Points:</strong> <%= Point.where("store_id = #{@store.id} AND kind_id = 1").sum(:value) %></br>
  </div>
</div>
      
    </div>

  </div>

</div>



