<%= javascript_include_tag "jquery" %>
<div class="row">
  <div class="large-12 columns">
    <div class="large-3 small-6 columns">
      <div class="panel">
        <h3><strong>Current Ranking</strong></h3>
        <h4><strong><%= @rank %></strong></h4>
      </div>
    </div>

    <div class="large-3 small-6 columns">
      <div class="panel">
        <h3><strong>Current Points</strong></h3>
         <strong>Total Points:</strong><%= @totalpoints %></br>
        <strong>Sales Points:</strong> <%= @salespoints %></br>
        <strong>Customer Points:</strong> <%= @customerpoints %></br>
      </div>
    </div>

    <div class="large-3 small-6 columns">
      <div class="panel">
        <h3><strong>Store Stats</strong></h3>
        <strong>Total Sales: $</strong> <%= @totalsales %>
        </br>
        <strong>Total Customers:</strong> <%= @totalcustomers %>
        </br>
      </div>
    </div>

    <div class="large-3 small-6 columns">
      <div class="panel">
        <h3><strong>Point Distribution</strong></h3>
        <canvas id="DonutChart" width="100" height="100"></canvas>
      </div>
    </div>

  <div class="large-12 columns">
    <div class="panel">
      <ul class="small-block-grid-6" style="text-align:center">
        <h3><strong>Trophy Case</strong></h3>
        </br>
        </br>

        <% @store.badges.each do |b| %>
          <li>
            <%= image_tag(BadgeAsset.where("badge_id = #{b.id}").pluck(:url).join) %>
            <h6><%=b.name %></br><%=b.points %> Points</h6>
          </li>
        <% end %>

      </ul>
    </div>  
  </div>



</div>