<%= javascript_include_tag "jquery" %>

<h1> Team Statistics </h1>
  <hr>
<div class="row" id="teamstats">
  <div class="large-12 columns">
    <div class="large-4 small-6 columns">
      <div class="panel" id="ranking">
        <h3>CURRENT RANKING</h3>
        <h4><%= @rank.upcase %></h4>
        <div class="panelicon"><i class="fa fa-trophy fa-5x"></i></div>
      </div>
    </div>

    <div class="large-4 small-6 columns">
      <div class="panel" id="storestat">
        <h3>STORE STATISTICS</h3>
        <p>
          <strong>Total Sales: $</strong> <%= @totalsales %></br>
          <strong>Total Customers:</strong> <%= @totalcustomers %></br>
          <strong>ARPU:</strong> <%= @arpu %></br>
        </p>
        <div class="panelicon"><i class="fa fa-tachometer fa-5x"></i></div>
      </div>
    </div>

    <div class="large-4 small-6 columns">
      <div class="panel" id="pointspanel">
        <h3>POINTS</h3>
        <canvas id="DonutChart" width="100" height="100"></canvas>
        <p>
          <strong>Total Points:</strong><%= @totalpoints %></br>
          <strong>Sales Points:</strong> <%= @salespoints %></br>
          <strong>Customer Points:</strong> <%= @customerpoints %></br>
          <strong>Facebook Points:</strong> <%= @facebookpoints %></br>
          <strong>Twitter Points:</strong> <%= @twitterpoints %></br>
          <strong>Pinterest Points:</strong> <%= @pinterestpoints %></br>
          <strong>Instagram Points:</strong> <%= @instagrampoints %></br>
        </p>
      </div>
    </div>

  <div class="large-12 columns">
    <div class="panel" id="trophy">
      <h3>TROPHY CASE</h3>
      <ul class="small-block-grid-6" style="text-align:center">
        </br>
        </br>

        <% @store.badges.each do |b| %>
          <li>
            <%= image_tag(BadgeAsset.where("badge_id = #{b.id}").pluck(:url).join) %>
            <h6><%=b.name %></br><%=b.points %> Points</h6>
          </li>
        <% end %>
      </ul>
    </div>  
  </div>



</div>