<%= javascript_include_tag "jquery" %>

<div class="row">
  <div class="large-12 columns">
    <h1> Team Statistics </h1>
  </div>
</div>
  <hr>
<div class="row">
  <div class="large-12 columns">
    <div class = "large-4 columns">
        <div class="paneltop">
            <div class="ranking">
                <i class="fa fa-trophy fa-3x"></i>
                <p>Store Ranking</p>
            </div>
            <div class="py-info"  id="stats">
                <h4><%= @rank.upcase %></h4>      
            </div>
        </div>
    </div>
    <div class = "large-4 columns">
        <div class="paneltop">
            <div class="points-yesterday">
                <i class="fa fa-tachometer fa-3x"></i>
                <p>Performance</p>
            </div>
            <div class="py-info" id="stats">
                   <p>
                    <strong>Total Sales: $</strong> <%= @totalsales %></br>
                    <strong>Total Customers:</strong> <%= @totalcustomers %></br>
                    <strong>ARPU:</strong> <%= @arpu %></br>
                  </p>                
                   
            </div>
        </div>
    </div>
    <div class = "large-4 columns">
        <div class="paneltop">
            <div class="points-breakdown">
                <i class="fa fa-tasks fa-3x"></i>
                <p>Points Breakdown</p>
            </div>
            <div class="py-info" id="stats">
                <div class="row">
                    <div class="small-8 columns">
                    
                          <strong>Total Points:</strong> <%= @totalpoints %></br>
                          <strong>Sales Points:</strong> <%= @salespoints %></br>
                          <strong>Customer Points:</strong> <%= @customerpoints %></br>
                          <strong>Facebook Points:</strong> <%= @facebookpoints %></br>
                          <strong>Twitter Points:</strong> <%= @twitterpoints %></br>
                          <strong>Pinterest Points:</strong> <%= @pinterestpoints %></br>
                          <strong>Instagram Points:</strong> <%= @instagrampoints %></br>
                      
                    </div>
                    <div class="small-4 columns">
                         <canvas id="DonutChart" width="100" height="100"></canvas>
                    </div>
                </div>                
            </div>
        </div>
    </div>

</div>
</div>

</br>
<div class="row">
  <div class="large-12 columns">
      <div class="paneltop" id="trophy">
            <div class="trophies">
                <i class="fa fa-trophy fa-3x"></i>
                <p>Badges Earned</p>
            </div>
            <div class="py-info">
                <div class="row">
                    <ul class="small-block-grid-6" style="text-align:center">
                      </br>
                      </br>

                      <% @store.badges.each do |b| %>
                        <li>
                          <%= image_tag(BadgeAsset.where("badge_id = #{b.id}").pluck(:url).join) %>
                          <h6><%=b.name %></br><%=b.points %> Points</h6>
                        </li>
                      <% end %>
                    </ul>
                </div>                
            </div>
        </div>
    
  </div>
</div>
</br>
</br>


</div>
