<h2>All Resources</h2>

<% if session[:linkedin] %>
  <%= link_to "Add a New Resource", new_post_path %>
<% end %>

<% @posts.each do |post| %>
  <hr>
  <h4><%= link_to post.title, post_path(post.id) %></h4>
  <%=raw post.content[0..120] %>...
  <%= post.created_at.to_s(:long) %>
  </br>
  </br>

  <% if session[:linkedin] %>  
    <%= link_to "Edit", edit_post_path(post.id) %> | 
    <%= link_to "Delete", @posts.find(post.id), method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
<% end %>

<hr>

<% if @posts == [] %>
  <h3 style="text-align: center"> No current resources added! </h3>
<% end %>