<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>VChallenge</title>

    <%=  stylesheet_link_tag    "application" %>
    <%=  javascript_include_tag "vendor/modernizr" %>
    <%=  include_gon %>
    <%=  csrf_meta_tags %>
  </head>

  <body>

  <!-- Navigation -->

<div class="off-canvas-wrap" id="off-can">
  <div class="inner-wrap">
    <nav class="tab-bar" id="menubar">
      <section class="left-small" style= width:110px >
        <a class="left-off-canvas-toggle menu-icon"> <span>Menu</span></a>
      </section>

      <section class="middle tab-bar-section" id="menutitle">
          <h1><a href="#"> VENTURE <strong>CHALLENGE</strong></a></h1>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li class="name"><label><i class="fa fa-smile-o fa-5x"></i><%= link_to current_user.name, "#" %></label></li>
        <li id="logout"><%= link_to "Logout", logout_path, :target => '_self' %></li>
        <li><label class="vc-title">Venture Challenge</label></li>
        <li class="active">
          <a href="#">
              <i class="fa fa-bar-chart-o fa-lg"></i>&nbsp;&nbsp;
              <span class="menu_a"> Leaderboard</span>
          </a>
        </li>
        <li>
          <a href="#">
              <i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;
              <span class="menu_a"> Team View</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-bookmark fa-lg"></i>&nbsp;&nbsp;&nbsp;
            <span class="menu_a"> Challenges</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-book fa-lg"></i>&nbsp;&nbsp;
            <span class="menu_a"> Resources</span>
          </a>
        </li>
      </ul>
    </aside>

    <section class="main-section">
          <div class = "row">
          </br>
          </br>
          <% if flash[:notice] %>
            <p id="notice"><%= flash[:notice] %></p>
          <% end %>
          <% if flash[:alert] %>
            <p id="alert"><%= flash[:alert] %></p>
          <% end %>
          <%= yield %>
          </div>
    </section>

  <a class="exit-off-canvas" id="slideout"></a>

  </div>
</div>

    <%=  javascript_include_tag "application" %>
  </body>
</html>         