<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>VChallenge</title>

    <%= include_gon %>
    <%=  stylesheet_link_tag    "application" %>
    <%=  javascript_include_tag "vendor/modernizr" %>
    <%=  csrf_meta_tags %>
  </head>

  <body>
     <!-- Navigation -->

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
            Venture Challenge
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">

      <!-- Right Nav Section -->
      
      <ul class="right">
 
        <li class="divider"></li>
        <li class="has-dropdown">
          <%= link_to "Menu" %>
          <ul class="dropdown">
            <li><%= link_to "Logout", logout_path, :target => 'blank' %></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
    <!-- Navigation -->


<div class="large-2 columns" id="sidenavbar">
  <div class="panel">
  <ul class="side-nav">
    <li>
      <a href="#">
        <i class="fa fa-bar-chart-o fa-2x"></i>&nbsp;
          <span class="menu_a"> Leaderboard</span>
      </a>
    </li>
      <li class="divider"></li>
    <li>
      <a href="#">
        <i class="fa fa-users fa-2x"></i>&nbsp;
          <span class="menu_a"> Team View</span>
      </a>
    </li>
      <li class="divider"></li>
    <li>
      <a href="#">
        <i class="fa fa-bookmark fa-2x"></i>&nbsp; &nbsp;
          <span class="menu_a"> Challenges</span>
      </a>
    </li>
      <li class="divider"></li>
    <li>
      <a href="#">
        <i class="fa fa-book fa-2x"></i>&nbsp;
          <span class="menu_a"> Resources</span>
      </a>
    </li>
  </ul>
  </div>

</div>
    <div class = "row">
    </br>
    </br>
    <% if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p id="alert"><%= flash[:alert] %></p>
    <% end %>
    <%= yield %>
    </div>


    <%=  javascript_include_tag "application" %>
  </body>
</html>         