<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>VChallenge</title>

    <%=  stylesheet_link_tag    "application" %>
    <%=  include_gon %>
    <%=  csrf_meta_tags %>
  </head>

  <body>

  <!-- Navigation -->

<div class="off-canvas-wrap" id="off-can">
  <div class="inner-wrap">
    <nav class="tab-bar" id="menubar">
      <section class="left-small" style= width:110px >
        <a class="left-off-canvas-toggle menu-icon" id="hamburger"> <span>Menu</span></a>
      </section>

      <section class="middle tab-bar-section" id="menutitle">
          <h1><a href="#"> VENTURE <strong>CHALLENGE</strong></a></h1>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li class="name"><label><i class="fa fa-smile-o fa-5x"></i><%= link_to current_user.name, "#" %></label></li>
        <li id="logout"><%= link_to "Logout", logout_path, :target => '_self' %></li>
        <% if session[:shopify] %>
        <li><label class="vc-title">Venture Challenge - Student</label></li>
          <li id="1">
            <a href="/leaderboards">
                <i class="fa fa-bar-chart-o fa-lg"></i>&nbsp;&nbsp;
                <span class="menu_a"> Leaderboard</span>
            </a>
          </li>
          <li id="2">
            <a href="/teamstats">
                <i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;
                <span class="menu_a"> Team View</span>
            </a>
          </li>
          <li id="3">
            <a href="#">
              <i class="fa fa-bookmark fa-lg"></i>&nbsp;&nbsp;&nbsp;
              <span class="menu_a"> Challenges</span>
            </a>
          </li>
          <li id="4">
            <a href="/posts">
              <i class="fa fa-book fa-lg"></i>&nbsp;&nbsp;
              <span class="menu_a"> Resources</span>
            </a>
          </li>
        <% else %>
        <li><label class="vc-title">Venture Challenge - Admin </label></li>
            <li id="5">
            <a href="/adminpanel">
                <i class="fa fa-bar-chart-o fa-lg"></i>&nbsp;&nbsp;
                <span class="menu_a"> Admin Panel</span>
            </a>
          </li>
          <li id="6">
            <a href="/leaderboards">
                <i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;
                <span class="menu_a"> League View</span>
            </a>
          </li>
          <li id="7">
            <a href="#">
              <i class="fa fa-bookmark fa-lg"></i>&nbsp;&nbsp;&nbsp;
              <span class="menu_a"> Add Challenges</span>
            </a>
          </li>
          <li><label class="vc-title">Resources</label></li>
          <li id="8">
            <a href="/posts">
              <i class="fa fa-book fa-lg"></i>&nbsp;&nbsp;
              <span class="menu_a"> All Resources </span>
            </a>
          </li>
          <li id="9">
            <a href="/posts/new">
              <i class="fa fa-plus-square-o fa-lg"></i>&nbsp;&nbsp;
              <span class="menu_a"> Add Resources</span>
            </a>
          </li>
        <% end %>
      </ul>
    </aside>

    <section class="main-section">
          <% if flash[:badge] %>
          <div class = "fullsplash">  
            <div id="myModal" class="reveal-modal" data-reveal>
              <h2>Awesome. I have it.</h2>
              <p class="lead">Your couch.  It is mine.</p>
              <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
              <a class="close-reveal-modal">&#215;</a>
              <%= image_tag flash[:badge] %>
            </div>
           </div> 
          <% end %>
          
          <div class = "row">
          </br>
          <% if flash[:notice] %>
            <p data-alert id="notice" class="alert-box radius">
              <%= flash[:notice] %>
              <a href="#" class="close">&times;</a>
            </p>
          <% end %>
          <% if flash[:alert] %>
            <p data-alert id="alert" class="alert-box warning radius">
              <%= flash[:alert] %>
              <a href="#" class="close">&times;</a>
          </p>
          <% end %>
          </br>
          <%= yield %>
          </div>
    </section>

  <a class="exit-off-canvas" id="slideout"></a>

  </div>
</div>
    <%=  javascript_include_tag "application" %>
  </body>
</html>         